<li>
    <div class="user-view">
            <a class="waves-effect waves-light btn update_personal_info" style="width:100px;;position: absolute;top:100px;right: 15px;background: #26a69a;">修改资料</a>
        <div class="background">
            <img src="./media/imgs/usr_bg.jpg">
        </div>
        <a href="#" style="z-index:1000;"><img style="margin-top:20px;" data-target="modal1" class="circle myscircle" src="./media/user_icon/{{userInfo.avatarId}}.png"></a>
        <a href="#!name"><span style="padding-bottom:10px;;margin-left: 17px;font-size:16px;" class="white-text name">{{userInfo.name}}</span></a>
       <!-- <a href="#!email"><span class="white-text email"></span></a> -->
       
    </div>
    <a class="waves-effect waves-light btn" href="#coollap">添加好友</a>
</li>

<ul class="collapsible" data-collapsible="accordion">
    <li class="active">
        
        <div class="collapsible-header active"><span class="new badge">{{friendListLength}}</span>好友</div>

        {% for friend in userInfo.friendList%}
        <div class="collapsible-body collap-style" style="background:none;">
            <div class="collap-rq" >
            <p class="collap-p" >
                <img src="./media/user_icon/{{friend.avatarId}}.png">
            </p>
                <p class="collap-p2">{{friend.name}}</p>
                {% if friend.online=='true' %}
                <div class="color-dot color-dot-green">
                </div>
                {% else %}
                <div class="color-dot color-dot-red">
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </li>
</ul>
<script src="./js/zymly.js"></script> 
