<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>

	<form action="http://127.0.0.1:3001/charge" method="post">
		<script src='https://checkout.stripe.com/checkout.js' 
		class='stripe-button' 
		data-key='pk_live_xXGeuc5byKCm3RkS7sX26hHQ' 
		data-amount='100'
		data-name="Bullup.Inc" 
		{{!-- data-description='just a test'  --}}
		{{!-- data-image="https://stripe.com/img/documentation/checkout/marketplace.png" --}}
		data-currency='usd'>

		</script>
		<input type="hidden" name="chargeAmount" value="100">
		<input type="hidden" name="userName" value="133">
	</form> 

</body>

</html>