<!-- This file should be rendered into
	 div.friend-list
	 of file swig_myroom_frame.html
   -->
{% set count = 0 %}
{% if user %}
	{% for friend in user.friendList %}
	{% set count+=1 %}
	<li class="friend-li" id="friend_list">
	  <div class="row">
		<div class="avatar-container">
          <img src="./media/user_icon/{{ friend.avatarId }}.png" class="friend-avatar">
		</div>
		<div class="friend-nickname" id="user-{{ friend.name }}">
          {{ friend.name }}
		</div>
		{% if friend.online=='true' %}
		<div class="color-dot color-dot-green">
		</div>
		<label class="friend-status friend-status--offline">
          在线
		</label>
		{% else %}
		<div class="color-dot color-dot-red">
		</div>
		<label class="friend-status friend-status--offline">
          不在线
		</label>
		{% endif %}
		<p class="invitebox right">
          <input type="checkbox" id="friend_{{ loop.index }}_check_box" class="filled-in" value="{{ friend.name }}">
					<label for="friend_{{ loop.index }}_check_box"></label>
					
		</p>
      </div>
	</li><!-- 朋友信息 -->

	<!-- 分割线 -->
	<li>
      <div class="divider">
      </div>
	</li>
  {% endfor %}
	<input type="hidden" id="friend_list_size_hidden" value="{{ count }}">
{% endif %}
